body{
    overflow-x: hidden;
    background: url("http://localhost:3000/public/image/bg2.jpg") no-repeat fixed;
    background-size: cover;
}
.introBody{
    background: #F2F2F2;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    border-radius: 3px  ;
    min-height: 1000px;
}
.content img{
    width: 100%;
}

@media screen and (min-width: 769px){
    .introUl{
        position: fixed;
    }
    .n1{
        text-align: center;
        background-image: linear-gradient(90deg, rgb(180,123,248),rgb(16,123,248),rgb(245,245,245));
        padding-top: 10px;
        padding-bottom: 10px;
        color: #ffffff;
        border-radius: 10px 10px 0 0;
        font-weight: bold;
    }
    .n{
        border-right: 1px blue solid;
        border-left: 1px blue solid;
        border-bottom: 1px blue solid;
        text-align: center;
        margin-top: 10px;
        padding-top:10px;
        color: grey;
        box-shadow: rgba(193,210,240,.4) 5px 5px;
        border-radius: 0 0 5px 5px;

    }
    a{
        text-decoration: none;
        color: black;
    }
    .content td{
        width: 120px;
    }
}
@media screen and (max-width: 991px) and (min-width: 1px){
    .introUl a br+span{
        display: none;
        color: red;
    }
    .n1{
        text-align: center;
        background-image: linear-gradient(90deg, rgb(180,123,248),rgb(16,123,248),rgb(245,245,245));
        color: #ffffff;
        border-radius: 4px 0 0 4px;
        font-weight: bold;
        padding: 1px 5px 1px 4px;
        margin:auto;
    }
    .n{
        margin: auto;

    }


}
.n:hover{
    background: lightgray;
    transition: background-color 1s;

}

.title{
    font-weight: bolder;
    font-size: 50px;
}
