html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	background: url(/public/image/login/loginBg.png);
	/*background: url(../image/login/loginBg.png); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.input-group-lg:hover,.btn_div:hover{
	-webkit-transform: scale(1.1,1.1);
	-moz-transition: 1s -moz-transform;
	transition-duration: 0.5s;
}

.img_logo:hover{
	-webkit-transform: scale(1.2,1.2);
	-moz-transition: 1s -moz-transform;
	transition-duration: 0.5s;
}
.font{
	font-size: 0.75rem;
	padding-bottom: 3px;
	border-bottom: 1px solid #dfdfdf;
}
.nav-tabs .nav-link {
	border: none;
}
.myformdiv {
	background-color: #FFFFFF;
	opacity: 0.8;
	position: relative;

}
/* span img:hover,.item_msg img:hover,.lf1_top img:hover,.lf1_bottom img:hover{
    -webkit-transform: scale(1.1,1.1);
    -moz-transition: 1s -moz-transform;
} */

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link .nav-link.visited,.nav-link.hover{
    color: #000000;
}
.nav-item>a{
	color: #000000;
}
/*中间框框*/
.col-center-block {
    position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
}
.form-control-lg, .input-group-lg > .form-control{
	line-height: 1.3rem;
	font-size: 1rem;
	padding: 0.25rem 0.25rem;
	border: solid #6c757d 1px;
}
.form-control-lg{
	line-height: 1rem;
}
/*验证码*/
.vspan{
	display: block;
}
.verify-text{
	display: inline;
	width: 40%;
}
.code_span{
	display: inline-block;
	width: 55%;
	height: auto;
}
/***/
.floor1{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #FFFFFF;
	border-radius: 0.3rem;
}
.floor1>ul{
	position: absolute;
	left: 0;
	top: 0;
	width: 75%;
	margin-top: 5rem;
}
.img_code{
	float: right;
	width: auto; 
	height: auto;
	max-height: 52px;
	border-radius: 0.3rem;
}
.scan_code{
	float: center;
	width: 100%;
}
.nav{
	padding: 4rem;
}
.my_small{
	font-size: 0.6rem;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    width: auto;
}