

  <meta charset="UTF-8">
  <title>Summernote</title>
  <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
  <script src="http://www.jq22.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script> 
  <link href="summernote.css" rel="stylesheet">
  <script src="summernote.js"></script>

  <div id="summernote" >输入文本编辑</div>
  <script>
    $(document).ready(function() {
        $('#summernote').summernote();
        console.log($($('.note-editable')[0]).css('height',$(document).height()*.7));
    });
  </script>

