<!DOCTYPE html>
<html>
    <head>
        <title>测试表单上传新闻</title>
    </head>
    <body>
        <form action="/EditNew" method="POST"> 
            <label>nid</label> <input type="text" name="nid" value="-1"/><br/>
            <label>context</label> <input type="text" name="context" value="rewqrewqrw"/><br/>
            <label>title</label> <input type="text" name="title" value="test1"/><br/>
            <label>type</label> <input type="text" name="type" value="1"/><br/>
            <label>url</label> <input type="text" name="url" value=""/><br/>
            <input type="submit" value="upload" >
        </form>
    </body>
</html>