
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://localhost:3000/public/css/rotationChart.css">
	<script src="http://localhost:3000/public/js/jquery.min.js"></script>
	<title>jQuery鼠标驱动背景图片动画特效</title>




	<div id="wrap">
	  <a href="#" class="hb">
	    <div class="c">
	      <img src="http://localhost:3000/public/image/lb2.png" alt=""/>
	      <div class="txt">
	        <h1>学子风采，勇夺佳绩</h1>
	        <p>Some longer text here thats wide enough to span on several lines.</p>
	      </div>
	    </div>
	  </a>
<!--	  <div class="fullBg">-->
<!--	    <img src="http://localhost:3000/public/image/1.png" alt=""/>-->
<!--	  </div>-->
	  <a href="#" class="hb">
	    <div class="c">
	      <img src="http://localhost:3000/public/image/lb1.png" alt=""/>
	      <div class="txt">
	        <h1>共渡难关，党日活动</h1>
	        <p>Some longer text here thats wide enough to span on several lines.</p>
	      </div>
	    </div>
	  </a>
<!--	  <div class="fullBg">-->
<!--	    <img src="http://localhost:3000/public/image/2.png" alt=""/>-->
<!--	  </div>-->
	  <a href="#" class="hb">
	    <div class="c">
	      <img src="http://localhost:3000/public/image/lb3.png" alt=""/>
	      <div class="txt">
	        <h1>传道授业，倾囊相授</h1>
	        <p>Some longer text here thats wide enough to span on several lines.</p>
	      </div>
	    </div>
	  </a>
<!--	  <div class="fullBg">-->
<!--	    <img src="http://localhost:3000/public/image/3.png" alt=""/>-->
<!--	  </div>-->
	  <a href="#" class="hb">
	    <div class="c">
	      <img src="http://localhost:3000/public/image/lb4.jpg" alt=""/>
	      <div class="txt">
	        <h1>走出校园，产业学习</h1>
	        <p>Some longer text here thats wide enough to span on several lines.</p>
	      </div>
	    </div>
	  </a>
<!--	  <div class="fullBg">-->
<!--	    <img src="http://localhost:3000/public/image/4.png" alt=""/>-->
<!--	  </div>-->
	</div>
	
	<script type="text/javascript">
		$(document).ready(function(){
		  var docWidth = $('body').width(),
		      $wrap = $('#wrap'),
		      $images = $('#wrap .hb'),
		      slidesWidth = $wrap.width();
		  
		  $(window).on('resize', function(){
		    docWidth = $('body').width();
		    slidesWidth = $wrap.width();
		  })
		  
		  $(document).mousemove(function(e) {
		  	if ($('#wrap').is(":hover")){
				let mouseX = e.pageX,
						offset = mouseX / docWidth * slidesWidth - mouseX / 2;

				$images.css({
					'-webkit-transform': 'translate3d(' + -offset + 'px,0,0)',
					'transform': 'translate3d(' + -offset + 'px,0,0)'
				});
			}

		  });
		})
	</script>
