<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/bootstrap.css" />
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
	<title>新闻详情</title>
	<link rel="stylesheet" href="/public/css/detail.css" />
	<script src="/public/js/detail.js"></script>
 
</head>
<body>
    <div id="navigator"></div>
    
	<div class="container">
		<div class="row">
			<div class="card bg-light text-dark w-100">
				<div class="card-body">
					<div class="row">
						
						<!--左边垂直导航-->
						<div class="detail_left m-0 p-0">
							<nav class="navbar navbar-dark position-fixed" style="background-color: lightslategrey;margin-top: 2px">
							  <ul class="navbar-nav" id="thenews">
									<!-- <li class="nav-item detail_nav_title">
										最新消息
									</li>
									<li class="nav-item ">
									  <a class="nav-link" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente aliquam rem fuga alias dignissimos aperiam ratione nihil totam delectus in.<span class="badge">新</span></a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="#">Link 2<span class="badge">新</span></a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="#">Link 3<span class="badge">新</span></a>
									</li> -->
							  </ul>
							</nav>
						</div>
						
						<!--右边-->
						<div class="detail_right m-0 p-0">
							<!--title-->
							<div class="title m-0 p-0">
								<h5 class="text-center">
									<span id="title"></span>
								</h5>
							</div>
							<p class="my_small text-center">
								<a href="#">华南师范大学软件学院</a>/<a href="#">通知公告</a>
								<span id="publishtime"></span>
								来源：华南师范大学 点击：<span id="visit"></span>
								<a href="#">收藏本文</a>
							</p>
							
							<hr />
							
							<!--正文-->
							<div class="main p-0 m-0">
								<span id="content">
									
								</span>
							</div>
							
							<!--结尾-->
							<div class="ended m-0 p-0">
								<p />
								<hr />
								<ul class="list-unstyled m-0 p-0"> <!--去掉小圆点的-->
									<li class="text-left">
										<a href="#" class="text-muted my_small"><img src="/public/image/detail/share.png" alt="" class="img_logo" /></a>
										<a href="#" class="text-muted my_small"><img src="/public/image/detail/weibo.png" alt="" class="img_logo" /></a>
										<a href="#" class="text-muted my_small"><img src="/public/image/detail/qq.png" alt="" class="img_logo" /></a>
										<a href="#" class="text-muted my_small"><img src="/public/image/detail/wechat.png" alt="" class="img_logo" /></a>
										<a href="#" class="text-muted my_small"><img src="/public/image/detail/tcweibo.png" alt="" class="img_logo" /></a>
										<a href="#" class="text-muted my_small"><img src="/public/image/detail/qqzone.png" alt="" class="img_logo" /></a>
										<a href="#" class="text-muted my_small"><img src="/public/image/detail/renren.png" alt="" class="img_logo" /></a> 
									</li>
								</ul>
									
								<hr />
									
								<!--分页显示-->
								<div class="page m-0 p-0">
									<ul class="pager">  <!--disable属性在js理实现-->
										<li class="previous" id="ll"><span id="pre">&larr; Older</span></li>
										<li class="next" id="rr"><span id="next">Newer &rarr;</span></li>
									</ul>
								</div>
							</div>
									
							<p>&nbsp;</p>
							<p>&nbsp;</p>
								
						</div>	
							
					</div>
				</div>
			</div>
		</div>
	</div>

	

	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
    <div id="footer"></div>
</body>
</html>