<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<link rel="stylesheet" href="../public/css/bootstrap.css" />
	<script src="../public/js/jquery.min.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="../public/css/detail.css" />
	
	
	<body>
		<div class="container">
			
			<div class="row the_whole">
				<!--左边悬浮框-->
				<div class="left col-lg-3 p-0 pr-2">
					<div class="extend">
						<div class="pinned">
							<div class="extend-title">
								<p>最新消息</p>
							</div>
							<div class="extend-con">
								<ul class="list-unstyled">
									<li><a href="#" title="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae minus.</a><span>2020-12-01</span></li>
									<li><a href="#" title="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est laudantium adipisci sit temporibus ea.</a><span>2020-12-01</span></li>
									<li><a href="#" title="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet consequatur sapiente veniam.</a><span>2020-11-23</span></li>
									<li><a href="#" title="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus id asperiores aperiam dolorem!</a><span>2020-11-23</span></li>
									<li><a href="#" title="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis rerum temporibus rem est voluptate nostrum modi alias cumque vel sed.</a><span>2020-11-23</span></li>
									<li><a href="#" title="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a><span>2020-11-19</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				
				
				<div class="right offset-3 col-lg-9 p-0">
					<div class="title">
						<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque rerum!</h5>
						<p class="my_small">
							<a href="#">华南师范大学软件学院</a>/<a href="#">通知公告</a>
							<!--2020-12-01 14:41:38-->Database
							来源：华南师范大学 评论：<!-- 0 -->Database 点击：<!-- 625 -->Database 
							<a href="#">收藏本文</a>
						</p>
						<hr />
					</div>	
					
					<!-- 正文 -->
					<div class="main p-0 ml-5 mr-5">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto excepturi ducimus numquam error quas ipsum sunt sint 
						corrupti non sequi. Quia magnam nam natus a veniam sequi aliquam itaque temporibus harum eveniet labore eaque minus pariatur 
						fugiat odit quae aliquid iste quis dolorum sint ipsam iusto facilis id nulla excepturi. Architecto corrupti exercitationem quo 
						illo labore nisi excepturi voluptates eos dignissimos eveniet nam distinctio quam maxime ex odio accusamus maiores. Provident molestias 
						iste ipsa dolorem rem similique et nemo! Temporibus fuga autem quae amet ipsam dolores sunt itaque nostrum asperiores optio eum quidem 
						explicabo qui repellendus vel unde assumenda dolorum cupiditate beatae voluptatum. Repudiandae soluta perspiciatis ex explicabo nesciunt 
						nemo ipsam nam maiores aspernatur ea quia possimus laudantium nisi quam distinctio quidem dolorem dignissimos reprehenderit porro 
						quis dolores voluptas blanditiis rerum officiis impedit illum excepturi expedita ullam temporibus esse. Sed et ducimus labore assumenda 
						vel est necessitatibus cupiditate voluptas quas perspiciatis blanditiis similique minus officia molestiae tenetur reprehenderit eum? Nisi 
						laborum adipisci eos vitae omnis nobis rem officia dolorum voluptatum repellendus optio sapiente neque maiores alias atque molestias id facere 
						deserunt error repudiandae magni et illum eligendi ea dolore fugiat a obcaecati earum sunt enim! Suscipit fugit placeat cupiditate sed?
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus provident voluptate unde debitis amet quod dignissimos sed cupiditate necessitatibus hic!
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus provident voluptate unde debitis amet quod dignissimos sed cupiditate necessitatibus hic!
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus provident voluptate unde debitis amet quod dignissimos sed cupiditate necessitatibus hic!
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus provident voluptate unde debitis amet quod dignissimos sed cupiditate necessitatibus hic!
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus provident voluptate unde debitis amet quod dignissimos sed cupiditate necessitatibus hic!
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus provident voluptate unde debitis amet quod dignissimos sed cupiditate necessitatibus hic!
					</div>
					
					<div class="ended">
						<p />
						<ul class="list-unstyled"> <!--去掉小圆点的-->
							<li class="text-left">
								<a href="" class="text-muted my_small"><img src="../public/image/detail/share.png" alt="" class="img_logo" /></a>
								<a href="" class="text-muted my_small"><img src="../public/image/detail/weibo.png" alt="" class="img_logo" /></a>
								<a href="" class="text-muted my_small"><img src="../public/image/detail/qq.png" alt="" class="img_logo" /></a>
								<a href="" class="text-muted my_small"><img src="../public/image/detail/wechat.png" alt="" class="img_logo" /></a>
								<a href="" class="text-muted my_small"><img src="../public/image/detail/tcweibo.png" alt="" class="img_logo" /></a>
								<a href="" class="text-muted my_small"><img src="../public/image/detail/qqzone.png" alt="" class="img_logo" /></a>
								<a href="" class="text-muted my_small"><img src="../public/image/detail/renren.png" alt="" class="img_logo" /></a>
							</li>
						</ul>
						<hr />
						标签：
						<hr />
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
