<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我是主页</title>
    <link rel="stylesheet" href="../public/css/bootstrap.css"/>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/popper.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <link rel="import" href="template/header.html" id="header">

</head>
<body>
    <div id="navigator">

    </div>
    <script>
        $("#navigator").load("http://localhost:3000/view/template/navigator.html");
    </script>
</body>
</html>