<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
	</head>
	<!--导入boot文件，且顺序不能乱-->
	<link rel="stylesheet" href="/public/css/bootstrap.css" />
	<script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="/public/css/login.css" />
	<script src="/public/js/login.js"></script>
	<!--	
		//
		//前端将输入值分别传到username,password,yzm上
		//后台可从这3个名称获取
		//后台返回代码0 1 2 3 4 5对应：
		//0 :username为空
		//1：password为空
		//2：yzm为空
		//3：username password不匹配
		//4:yzm错误
		//5：正确，后台清空session.captcha,跳转到/	
		!-->
	
	<body>
		<div class="container"> 
			<div class="row justify-content-center">
				<div class="col-center-block col-lg-4 col-md-4 col-sm-5 col-xl-5 jumbotron myformdiv pb-0">
			
					<!-- 1F内容-->
					<div class="floor1">
						<ul class="nav nav-tabs mt-0 p-0 text-center ml-3">
							 <li class="nav-item password_login"><a href="#password_login" class="nav-link" data-toggle="tab"><span>密码登录</span></a></li>
							 <li class="nav-item code_login" id="do_qrcode"><a href="#code_login" class="nav-link" data-toggle="tab"><span>扫码登录</span></a></li> 
						</ul>
<!-- 						<a href="javascript:void(0);" onclick="qrcode()" class="password_login"><img src="../public/image/login/qrcode_front.png" alt="" class="img_code" /></a>
						<a href="javascript:void(0);" onclick="pwdcode()" class="code_login"><img src="../public/image/login/password_front.png" alt="" class="img_code" /></a> -->
						<a href="javascript:void(0);" onclick="qrcode()" class="password_login"><img src="/public/image/login/qrcode_front.png" alt="" class="img_code" /></a>
						<a href="javascript:void(0);" onclick="pwdcode()" class="code_login"><img src="/public/image/login/password_front.png" alt="" class="img_code" /></a>
					</div> 
					
					<br />
					
					<!--验证码/表单信息-->
					<div class="tab-content">
						<div class="tab-pane password_login">
							
							<!--信息体视框-->
								<div class="alert alert-dismissible infocontent p-0 m-0"><!--alert-danger在js实现 -->
									<span id="info_mation" class="p-0">通过</span>
								</div>
							
							<h4 class="text-left">用户登录</h4>
							<div class="input-group-lg">
								<span><b>UserId</b></span>
								<input type="text" class="form-control" placeholder="userid" name="userid" autofocus="autofocus" />
							</div>
							<div class="input-group-lg">
								<span><b>Password</b></span>
								<input type="password" class="form-control" placeholder="password" name="password" />
							</div>
							<div class="input-group-lg w-100">
								<span class="vspan"><b>Verify</b></span>
								<div class="input-group m-0 p-0 w-100">
									<input type="text" class="form-control verify-text p-0 m-0" placeholder="verify" name="verify" id="vf" />
									<span id="code" class="code_span m-0 p-0"></span>
								</div>
							</div>
							<br />
							<div class="btn_div">
								<button class="btn btn-primary form-control" id="tijiao" >提交</button>
							</div>
						</div>
						<div class="tab-pane test code_login">
						<!-- 	<img src="../public/image/login/qrcode.png" alt="" class="scan_code" /> -->
							<img src="/public/image/login/qrcode.png" alt="" class="scan_code" />
						</div>
					</div>
					
					<br />
					
					<!--其他登陆方式-->
					<p class="font p-0 mb-0">其他登录方式</p>
					<div class="text-left">
						<ul class="list-unstyled"> <!--去掉小圆点的-->
							<li class="text-left">
								<a href="" class="text-muted my_small"><img src="/public/image/login/icon_weixinweb.png" alt="" class="img_logo" /></a>
								<a href="" class="text-muted my_small"><img src="/public/image/login/icon_qq.png" alt="" class="img_logo" /></a>
								<a href="" class="text-muted my_small"><img src="/public/image/login/icon_weibo.png" alt="" class="img_logo" /></a>
<!-- 							<a href="" class="text-muted my_small"><img src="../public/image/login/icon_weixinweb.png" alt="" class="img_logo" /></a>
							<a href="" class="text-muted my_small"><img src="../public/image/login/icon_qq.png" alt="" class="img_logo" /></a>
							<a href="" class="text-muted my_small"><img src="../public/image/login/icon_weibo.png" alt="" class="img_logo" /></a> -->
							</li>
						</ul>
						<p class="my_small"><a href="#">忘记密码?</a></p>
						<p class="my_small">华南师范大学 © 2020 | 关于 <a href="#">邮箱服务</a> <a href="#">移动校园</a></p>
					</div>
				</div> 
			</div>
		</div>


		<!-- alert框（Modal） -->
			<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <div class="modal-header">
							 <h3><span id="backinfo"></span></h3>
			               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
			            </div>
			          <!-- <div class="modal-body">
						   <h2><span id="backinfo"></span></h2>
						</div> -->
			            <div class="modal-footer">
			                <input type="button" class="btn btn-primary cancelbtn" data-dismiss="modal" value="确定">
						</div><!--modal-content -->
					</div>
			    </div><!-- modal-dialog -->
			</div>
	</body>
</html>
