<!DOCTYPE html>
<html>
<head>
    <title>tinymce demo</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://localhost:3000/public/css/bootstrap.min.css"/>
    <script src="http://localhost:3000/public/js/jquery.min.js"></script>
    <script src="http://localhost:3000/public/js/bootstrap.min.js"></script>
    <script src="http://localhost:3000/public/js/jquery.min.js"></script>
    <script src="http://localhost:3000/public/js/tinymce/tinymce.min.js"></script>
    <script>
        $(function (){
            $("#navigator").load("http://localhost:3000/template/navigator.html");
            $("#footer").load("http://localhost:3000/template/footer.html");
            tinymce.init({
                selector: '#tinymce', //容器，可使用css选择器
                language:'zh_CN', //调用放在langs文件夹内的语言包
                toolbar: true, //工具栏
                menubar: true, //菜单栏
                branding:false, //右下角技术支持
                inline: false, //开启内联模式
                elementpath: false,
                min_height:1200, //最小高度
                height: 800,  //高度
                skin: 'oxide',
                toolbar_sticky:true,
                visualchars_default_state:true, //显示不可见字符
                image_caption: true,
                paste_data_images: true,
                relative_urls : false,
                // remove_script_host : false,
                removed_menuitems: 'newdocument',  //清除“文件”菜单
                plugins: "lists,hr, advlist,anchor,autolink,autoresize,charmap,code,codesample,emoticons,fullscreen,image,media,insertdatetime,link,pagebreak,paste,preview,print,searchreplace,table,textcolor,toc,visualchars,wordcount", //依赖lists插件
                toolbar: 'bullist numlist anchor charmap emoticons fullscreen hr image insertdatetime link media pagebreak paste preview print searchreplace textcolor wordcount',
                //选中时出现的快捷工具，与插件有依赖关系
                images_upload_url:'a.php', /*后图片上传接口*/ /*返回值为json类型 {'location':'uploads/jpg'}*/
                setup: function(editor){
                    editor.on('change',function(){ editor.save(); });
                }

            });
        });
        /*填入初始数据*/
        //tinyMCE.activeEditor.setContent("<h1>测试</h1><hr><h2>这是测试的数据<h2>");
        /*
        1、如果当前页面只有一个编辑器：
            获取内容：tinyMCE.activeEditor.getContent()
            设置内容：tinyMCE.activeEditor.setContent(“需要设置的编辑器内容”)
        2、如果当前页面有多个编辑器（下面的“[0]”表示第一个编辑器，以此类推）：
            获取内容：tinyMCE.editors[0].getContent()
            设置内容：tinyMCE.editors[0].setContent(“需要设置的编辑器内容”)
        */
        function setcontent(){
            tinyMCE.activeEditor.setContent("");
            //tinyMCE.editors[0].setContent("<h1>设置内容2</h1>");
        }
        function getcontent(){
            alert(tinyMCE.activeEditor.getContent());
        }
        /*3、获取不带HTML标记的纯文本内容：
         var activeEditor = tinymce.activeEditor;
         var editBody = activeEditor.getBody();
         activeEditor.selection.select(editBody);
         var text = activeEditor.selection.getContent( {'format' : 'text' } );*/
        function getbody(){
            var activeEditor = tinymce.activeEditor;
            var editBody = activeEditor.getBody();
            activeEditor.selection.select(editBody);
            var text = activeEditor.selection.getContent( {'format' : 'text' } );
            alert(text);
        }
    </script>
    <style>
        body{
            background: url("http://localhost:3000/public/image/bg.png") fixed;
            background-size: cover;
        }
        .editBg{
            background: #f0f0f0;
            border-radius:10px;
            box-shadow: 5px 5px 5px grey;
        }
        .userInfoBar{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            height: 50px;
        }
        .userInfoBar img,
        .userInfoBar div{
            height: 30px;
            width: auto;

        }
        #tinymce{
            margin-left: 10px;
        }
        .submitBar{
            display: flex;
            justify-content: flex-end;

        }

    </style>
</head>
<body>
    <div id="navigator"></div>
    <div class="container_fluid clearfix editBg mr-2 ml-2 pb-3">
        <div class="userInfoBar pr-5 pl-5">
            <div><h3>欢迎您</h3></div>
            <img src="http://localhost:3000/public/image/user.png" alt="">
            <div ><h4>用户001</h4></div>
        </div>
        <hr>
        <hr>
        <div class="pr-5 pl-5">
            <div class="form-group " >
                    <label for="newsTitle">新闻标题</label>
                    <input id="newsTitle" type="text" class="form-control searchInput"  placeholder="请输入新闻标题">
            </div>
        </div>
        <div class="pr-5 pl-5">
            <div id = "tinymce"></div>
        </div>

        <hr>
        <hr>
        <div class="pr-5 pl-5 submitBar">
            <form action="" >
                <label for="type1">选择类型</label>
                <select id="type1">
                    <option value="1">12</option>
                    <option value="2">12</option>
                </select>
                <select id="type2">
                    <option value="1">12</option>
                    <option value="2">12</option>
                </select>
                <div class="btn-group">
                <button type="button" class="btn btn-danger" onclick="setcontent()">清除内容</button>
                <button type="button" class="btn btn-primary" onclick="getcontent()">读取数据</button>
                <button type="button" class="btn btn-primary" onclick="getbody()">获取纯文本</button>
                <input type="submit" class="btn btn-success" content="提交">
                </div>
            </form>

        </div>
    </div>

    <div id="footer"></div>
</body>
</html>