<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>simditor</title>
    <link rel="stylesheet" type="text/css" href="../public/css/textEditCss/simditor.css" />

    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../public/js/textEditScripts/module.min.js"></script>
    <script type="text/javascript" src="../public/js/textEditScripts/hotkeys.min.js"></script>
    <script type="text/javascript" src="../public/js/textEditScripts/uploader.min.js"></script>
    <script type="text/javascript" src="../public/js/textEditScripts/simditor.min.js"></script>
</head>

<body>

<textarea id="editor" placeholder="Balabala" autofocus></textarea>
<script>
    var editor = new Simditor({
        textarea: $('#editor')
        //optional options
    });

</script>

</body>
</html>
